@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --primary: #186096;
  --secondary: #4a9fd8;
  --tertiary: #8ac3e9;
}

.swiper-pagination {
  padding-top: 1rem !important;
  /* border: 1px solid black !important; */
  margin-bottom: 0.4rem !important;
}
/* 
.swiper {
  width: 100% !important;
}

@media screen and (min-width: 640px) {
  .swiper {
    width: 640px !important;
  }
}

@media screen and (min-width: 768px) {
  .swiper {
    width: 768px !important;
  }
} */
.swiper-wrapper {
  padding-bottom: 2rem !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--secondary) !important;
}

.swiper-pagination-bullet {
  width: 0.7rem !important;
  height: 0.7rem !important;
}
